.accordion-section
  .container
    .accordion
      .accordion-item
        .accordion-header(onclick="toggleAccordion(this)")
            .accordion-header-text
                .accordion-header-text-left
                    include ../../img/alert-circle.svg
                    span ALPHA
                .accordion-header-text-right
                    p Important info regarding our service
            .accordion-header-arrow
                include ../../img/chevron-down.svg
        .accordion-content
          | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, animi. Harum, quasi, in molestias a quidem excepturi similique eaque culpa sequi, iste soluta sunt voluptates ipsum? Fuga quos, quo, eius quam corporis amet at nobis omnis facere aut accusamus libero consectetur veritatis asperiores? Tempore ipsum, nam, repellendus quae dolor iusto fugit deleniti distinctio facilis blanditiis inventore ullam voluptatum qui id libero magnam expedita alias corrupti, commodi eius quisquam quibusdam. Consequuntur doloribus error assumenda eveniet, amet dolores sunt perferendis fugit voluptatibus deleniti qui temporibus accusantium cupiditate magnam cum consectetur? Iure quos fugiat eius molestias debitis ducimus quam alias, dicta tempora aliquid.
