.container
    ul.footer-list
        li.footer-item.footer-logo
            a(href="#") 
                include ../../img/Logomark.svg
        li.footer-item.footer-nav
            ul.footer-nav-list
                li.footer-nav-item
                    a(href="./page404.html") FAQ
                li.footer-nav-item
                    a(href="./page404.html") RETURNS
                li.footer-nav-item
                    a(href="./page404.html") CONTACT
        li.footer-item.footer-nav
            ul.footer-nav-list
                li.footer-nav-item
                    a(href="./page404.html") TERMS & CONDITIONS
                li.footer-nav-item
                    a(href="./page404.html") PRIVACY POLICY
                li.footer-nav-item
                    a(href="./page404.html") COOKIE POLICY
                li.footer-nav-item
                    a(href="./page404.html") COOKIE SETTINGS
        li.footer-item.footer-nav
            ul.footer-nav-list
                li.footer-nav-item
                    a(href="./page404.html") ABOUT SECOND CHANCE
                li.footer-nav-item
                    a(href="./page404.html") CAREER
                li.footer-nav-item
                    a(href="./page404.html") FACEBOOK
                li.footer-nav-item
                    a(href="./page404.html") INSTAGRAM