.container
    a(href="#").logo
        include ../../img/logo.svg
    nav.nav
        ul.nav-list
            li.nav-item
                a(href="./page404.html") About us
            li.nav-item
                button#sign-up Sign-up